<h3>This is your new game</h3>
<p>Title: <%=@game.name%></p>
<p>Console: <%=@game.console%></p>
<p>Release Date: <%=@game.release_date%></p>
<p>Details: <%=@game.details%></p>
<a href="/games/<%=@game.id%>/edit">Edit Game Information</a>
<form action="/games/<%= @game.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete game">
</form>

